/* 自訂樣式 */
/* bg */
.bg-coffeenav{
    background-color:#361901 !important;
}
.bg-coffee1{
    background-color:#492507 !important;
}
.bg-coffee2{
    background-color:#c89c77 !important;
}
.bg-coffee3{
    background-color:#753500 !important;
}
.bg-coffee4 {
    background-color: #fdac61 !important;
}

header{
    will-change: transform;
    transition: background 0.3s, -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
    transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.hide-nav {
    transform: translateY(-120%)  !important;
    -webkit-transform: translateY(-120%) !important;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #c8ac88;
}


.text-coffee{
  color: #63450f;
}

#loading{
  width: 100vw;
  height: 100vh;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section02{
  margin-top: 20px;
}

/* 輪播圖 */

.carousel-control-prev,
.carousel-control-next{
  transition:0.3s;
}
.carousel-control-prev:hover{
  background:linear-gradient(90deg,rgba(0,0,0,0.5),rgba(0,0,0,0));
  opacity: 1;
}
.carousel-control-next:hover{
  background:linear-gradient(270deg,rgba(0,0,0,0.5),rgba(0,0,0,0));
  opacity: 1;
}

.carousel-inner img{
  widows: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-item{
  height: 100%;
}

.img-scale{
                  /* 持續秒數 延遲秒數 平滑速度 動畫播到底 */
  animation:img-scale 3s 1s ease forwards;
}
@keyframes img-scale{
  from{
    transform:scale(1)
  }
  to{
    transform:scale(1.2)
  }
}
/* /輪播圖 */
.btn-coffee {
    color: #fff;
    background-color: #a75818;
    border-color: #a75818;
  }
  
.btn-coffee:hover {
    color: #fff;
    background-color: #805321;
    border-color: #805321;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
}

.table-coffee,
.table-coffee > th,
.table-coffee > td {
  background-color: #d49d54;
}

.table-coffee th,
.table-coffee td,
.table-coffee thead th,
.table-coffee tbody + tbody {
  border-color: #613913;
}

.table-hover .table-coffee:hover {
  background-color: #63450f;
}

.table-hover .table-coffee:hover > td,
.table-hover .table-coffee:hover > th {
  background-color: #63450f;
}


#section02 .card{
  transition:0.3s;
}
#section02 .card:hover{
  transform:translateY(-1rem);
}
#section06 a{
  color:rgb(255, 186, 108);
}
#section06 a.active{
  color:rgb(158, 88, 22);
} 

/* 斷點區 */

/* xs */
@media (max-width:575px){
  .login{
    display: flex;
    flex-direction: row;
  }

}
/* sm */
@media (min-width:576px){

}
/* md */
@media (min-width:768px){

}
/* lg */
@media (min-width: 992px) {
    html,body{
        height:100% !important; 
    }
  }
/* xl */
@media (min-width:1200px){

}